@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Play';
    src: url(../font/Play-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url(../font/Play-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Molot';
    src: url(../font/Molot.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Italic.otf) format('opentype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-BoldItalic.otf) format('opentype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Light.otf) format('opentype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../font/MerriweatherSans-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../font/MerriweatherSans-Italic.otf) format('opentype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../font/MerriweatherSans-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../font/MerriweatherSans-Light.otf) format('opentype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Techna';
    src: url(../font/TechnaSans-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}