

<div class="w-20 h-20 hidden md:inline-flex items-center justify-center rounded-full bg-opal-50 text-sappbg-sapphire_blue-500 mb-5 flex-shrink-0">
    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"
     class="w-14 h-14 text-white flex-shrink-0 fill-opal-200">
    <path class="st0" d="M0,73.783v364.433h512v-11.175V73.783H0z M22.358,205.741h54.726v118.446H22.358V205.741z M244.827,320.936 c-13.732-2.337-26.002-8.852-35.466-18.306c-11.954-11.962-19.316-28.383-19.318-46.63c0.003-18.254,7.364-34.668,19.318-46.638 c9.465-9.454,21.735-15.962,35.466-18.306V320.936z M167.684,256c0.004,44.982,33.652,82.026,77.143,87.532v72.319H22.358v-69.307 h77.084V183.383H22.358V96.141h222.465l0.004,72.328C201.332,173.989,167.688,211.017,167.684,256z M489.643,324.187h-54.726 V205.741h54.726V324.187z M489.643,183.383h-77.088v163.161h77.088v69.307H267.185l-0.004-72.319 c43.491-5.513,77.132-42.55,77.14-87.532c-0.008-44.983-33.652-82.01-77.14-87.532l-0.004-72.328h222.466V183.383z M267.181,320.936v-129.88c13.732,2.345,25.998,8.853,35.459,18.306c11.955,11.969,19.316,28.384,19.319,46.638 c-0.004,18.247-7.364,34.668-19.319,46.63C293.178,312.084,280.912,318.591,267.181,320.936z"></path>
    </svg>
</div>
<div class="flex-grow w-5/6 md:w-full">
  <!-- <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Upcoming Matches</h2> -->
  <div id="upcoming-matches">
    <h2 class="text-gray-900 text-xl uppercase font-play mb-3">Upcoming Matches</h2>
    <table class="table-auto w-full mx-1 text-sm">
        <caption class="caption-top bg-sapphire_blue-800 px-4 py-1 text-opal-50 text-left rounded-t-md uppercase">
        <div class="flex flex-col">
          <div class="text-base font-bold">Men's Over 30 Division A</div>
          <div class="text-sapphire_blue-100">Sunday, Nov 12</div>
        </div>
            
        </caption>
        <thead>
            <tr class="bg-opal-50 rounded-t-sm text-base text-left">
                <th class="px-2">Home</th>
                <th class="px-2">Away </th>
                <th class="px-2 w-30">Time</th>
                <th class="px-2">Field</th>
            </tr>
        </thead>
        <tbody class="border-b-2">
            <tr class="text-left">
                <td class="px-2">Cylon</td>
                <td class="px-2">Lions</td>
                <td class="px-2">8:00 am</td>
                <td class="px-2">A</td>
            </tr>
            <tr class="text-left">
                <td class="px-2">Benidorm</td>
                <td class="px-2">Real FC</td>
                <td class="px-2">10:00 am</td>
                <td class="px-2">A</td>
            </tr>
            <tr class="text-left">
                <td class="px-2">Fusion</td>
                <td class="px-2">Real Espana</td>
                <td class="px-2">12:00 pm</td>
                <td class="px-2">A</td>
            </tr>
            <tr class="text-left">
                <td class="px-2">Cylon</td>
                <td class="px-2">Lions</td>
                <td class="px-2">2:00 pm</td>
                <td class="px-2">A</td>
            </tr>
        </tbody>
    </table>
  </div>
  <a class="mt-3 text-sapphire_blue-500 inline-flex items-center">More
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
  </a>
</div>