{% extends "/admin/dashboard.html" %}

{% block admin_panel %}
<section id="admin-main-panel" class="flex flex-col w-full min-h-screen">
  <div class="flex flex-col w-full">
    <div class="flex flex-col px-6">
      <h3 id="admin-section-title" class="font-play font-bold text-5xl pt-4 text-sapphire_blue-900">Leagues</h3>
        <ul id="admin-section-options" class="flex flex-row gap-x-6 pt-4">
          <li class="text-spaceteal-200">New League</li>
          <!-- <li class="text-spaceteal-200">Edit Season</li> -->
        </ul>
    </div>
  </div>

  <div id="admin-page-content" class="flex flex-col items-center w-full px-2 pt-6 md:pt-14">
    <div id="admin-league-form" class="flex flex-col items-center w-full px-2">
      <form
        method="post"
        class="flex flex-auto flex-row flex-wrap justify-between w-full max-w-screen-md bg-slate-100 border rounded-md">

        <div class="basis-full p-4 md:basis-auto md:w-2/5">
          <label for="category" class="text-sm font-medium text-gray-900 block mb-2">Category</label>
          <select name="category" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="">
            <option value="" selected>Select a Category</option>
            <option value="Men's">Men's</option>
            <option value="Women's">Women's</option>
            <option value="Coed">Coed</option>
          </select>
        </div>

        <div class="basis-full md:basis-2/5 p-4">
          <label for="team_size" class="text-sm font-medium text-gray-900 block mb-2">Team Size</label>
          <select name="team_size" id="team_size" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="">
            <option value="" selected>Select Team Size</option>
            <option value="11">11 v 11</option>
            <option value="7">7 v 7</option>
          </select>
        </div>

        <div class="basis-full md:basis-1/5 p-4">
          <label for="division" class="text-sm font-medium text-gray-900 block mb-2">Division</label>
          <select name="division" id="division" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="">
            <!-- <option value="">Select</option> -->
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="N/A">N/A</option>
          </select>
        </div>
        <div class="basis-full md:basis-1/2 p-4">
          <label for="male_age_over" class="text-sm font-medium text-gray-900 block mb-2">Age Group (Men's)</label>
          <select name="male_age_over" id="male_age_over" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
            <option value="0" selected>Men's Age Group (if applicable)</option>
            <option value="0">Open</option>
            <option value="30">Over 30</option>
            <option value="40">Over 40</option>
            <option value="50">Over 50</option>
          </select>
        </div>
        <div class="basis-full md:basis-1/2 p-4">
          <label for="female_age_over" class="text-sm font-medium text-gray-900 block mb-2">Age Group (Women's)</label>
          <select name="female_age_over" id="female_age_over" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
            <option value="0" selected>Women's Age Group (if applicable)</option>
            <option value="0">Open</option>
            <option value="30">Over 30</option>
            <option value="40">Over 40</option>
            <option value="50">Over 50</option>
          </select>
        </div>
        <div class="basis-full md:basis-1/2 p-4">
          <div>
            <label for="day_of_week" class="text-sm font-medium text-gray-900 block mb-2">Day of Week</label>
            <select name="day_of_week" id="day_of_week" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="">
              <option value=""selected>Day Games Are Played</option>
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
            </select>
          </div>
          <div class="pt-8">
            <label for="name" class="text-sm font-medium text-gray-900 block mb-2">League Name</label>
            <input
                  hx-post="/iesl-admin/league/search"
                  hx-trigger="input changed delay:500ms, search"
                  hx-target="#create-cancel"
                  hx-swap="outerHTML" 
                  type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Team Name FC”" required="">
          </div>
        </div>

        <div class="basis-full md:basis-1/2 p-4">
          <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Season</label>
          {% if seasons %}
          <select name="season_id" id="season_id" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
            <option value="null" selected>Select Season</option>
            {% for season in seasons %}
            <option value="{{ season.id }}">{{ season.name }}</option>
            {% endfor %}
          </select>

          {% else %}

          <p class="text-xs font-medium text-rose_iesl-400">Must create Season before attaching to league.</p>
          {% endif %}
        </div>
        <div
        {% block confirmation_buttons %}
        <div  id="create-cancel" class="flex flex-col items-center pt-20 w-full">
          {% if not duplicate %}
          <button 
          type="submit" class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create League</button>
          {% else %}
          <p class="text-xs font-medium text-rose_iesl-400">*Please choose another name</p>
          <div class="w-1/2 text-gray-400 bg-rose_iesl-50  font-medium rounded-lg text-sm px-5 py-2.5 text-center">League already exists</div>
          {% endif %}
          <!-- button to cancel the form-->
        <a href="/iesl-admin/league" class="basis-auto w-1/2 mx-auto my-6 text-gray-500 bg-white hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</a>
        </div>
        {% endblock %}
      </form>
    </div>
  </div>
</section>
{% endblock %}