<section id="admin-main-panel" class="flex flex-col w-full h-screen">
  <div class="flex flex-row w-full justify-between">
    <div class="flex flex-col px-6 sm:pr-3">
      <h3 id="admin-section-title" class="font-play font-bold text-5xl pt-4 text-sapphire_blue-900">Seasons</h3>
        <ul id="admin-section-options" class="flex flex-row gap-x-6 pt-4">
          <li class="text-spaceteal-200">Edit Season</li>
          <!-- <li class="text-spaceteal-200">Edit Season</li> -->
        </ul>
    </div>
    <div id="schedule-instruction" class="flex flex-row flex-wrap pt-4 w-2/5 gap-1">
      <div class="w-auto uppercase text-xs text-spaceteal-500">Instruction</div>
      <div class="flex basis-full items-center">
        <p class="text-xs text-spaceteal-600 w-auto"><span class="font-bold">Attach League(s)</span> will link available leagues to this season.</p>
      </div>
      <div class="flex basis-full items-center">
        <p class="text-xs text-spaceteal-600 w-auto">The <span class="font-bold">End Season</span> date will inactivate season, and will not be available for scheduling</p>
      </div>
    </div>
  </div>
  
  <div id="admin-page-content" class="flex flex-col items-center w-full px-2 pt-6 md:pt-14">
    <div id="admin-season-form" class="flex flex-col items-center w-full px-2">
      <form
        method="post"
        enctype="application/x-www-form-urlencoded"
        action="/iesl-admin/season/{{ season.slug }}"
        class="flex flex-auto flex-row flex-wrap justify-between w-full max-w-screen-md bg-slate-100 border rounded-md">
        
        <div class="basis-full md:basis-7/12 p-4">
          <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Season Name</label>
          <input
            type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="" value="{{ season.name }}">
        </div>

        <div class="basis-full md:basis-full p-4">
          <label for="description" class="text-sm font-medium text-gray-900 block mb-2">Description</label>
          <input type="text" name="description" id="description" maxlength="120" rows="3" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" value="{{ season.description }}">
        </div>
          <div class="basis-1/4 p-4 flex flex-col flex-nowrap">
            <div class="basis-full">
              <div
                x-data
                x-init="
                  flatpickr($refs.dateInput, {
                    defaultDate: '{{ season.start_date }}',
                    altInput: true,
                    altFormat: 'Y-m-d',
                    dateFormat: 'Z',
                    allowInput: true,
                  })
                "
              >
                <label for="start_date" class="text-sm font-medium text-gray-900 block mb-2">Start Date</label>
                <input name="start_date" id="start_date" x-ref="dateInput" type="text" placeholder="YYYY-MM-DD" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-48 p-2.5" />
              </div>
            </div>
            {% block end_season %}
            {% if show_end_date %}
            <div id="season-create-end-date" class="basis-full pt-4">
              <div
                x-data
                x-init="
                  flatpickr($refs.dateInput, {
                    defaultDate: new Date().fp_incr(70),
                    altInput: true,
                    altFormat: 'Y-m-d',
                    dateFormat: 'Z',
                    allowInput: true,
                  })
                "
              >
                <label for="end_date" class="text-sm font-medium text-gray-900 block mb-2">End Season</label>
                <input name="end_date" id="end_date" x-ref="dateInput" type="text" placeholder="YYYY-MM-DD" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-48 p-2.5" />
              </div>
            </div>
            {% else %}
            <div id="season-create-end-date" class="basis-full pt-4">
              <label for="end_date" class="text-sm font-medium text-gray-900 block mb-2">End Season</label>
              <button hx-get="/iesl-admin/season/end-date" 
                      hx-target="#season-create-end-date"
                      hx-swap="outerHTML"
                      class="text-sm py-1 px-2 rounded bg-sapphire_blue-400 hover:bg-sapphire_blue-500 text-white block mt-1"
              >Enter End Date</button">
            </div>
            {% endif %}
            {% endblock %}
          </div>
          {% block attach_leagues %}
          <div id="attach-leagues" class="basis-full md:basis-7/12 p-4">

            <label class="text-sm font-medium text-gray-900 block mb-2">
              Attach League(s)
            </label>

            {% if not leagues %}
            <p class="p-2.5 text text-spaceteal-400">
            No leagues available to attach
            </p>
            {% else %}

            <select
              multiple
              name="leagues"
              id="leagues"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5 mb-3"
            >
              {% for league in leagues %}
              <option value="{{ league.id }}">{{ league.name }}</option>
              {% endfor %}
            </select>

            <input hidden type="text" name="slug" value="{{season.slug}}">
            <button hx-post="/iesl-admin/season/attach-leagues"
                    hx-target="#attach-leagues"
                    hx-swap="outerHTML"
                    hx-params="leagues, id, slug"
            class="text-sm py-1 px-2 rounded bg-sapphire_blue-400 hover:bg-sapphire_blue-500 text-white block mt-1">Attach</button>
            {% endif %}
            
          </div>
          {% endblock %}
          <input hidden type="text" name="id" value="{{season.id}}">
          {% block confirmation_buttons %}
          <div id="save-cancel" class="flex flex-col items-center py-4 pt-28 w-full">

            <!-- save button-->
            <button type="submit" class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">SAVE</button>

            <!-- cancel button -->
            <a href="/iesl-admin"
               class="basis-auto w-1/2 mx-auto my-6 text-gray-500 bg-white hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</a>

          </div>
          {% endblock %}
          {% block delete_confirm %}
          {% if confirm %}
          <div id="delete-confirm" class="flex items-center pt-2 pb-8 w-full">
            <a hx-delete="/iesl-admin/season/delete/{{season.slug}}"
               hx-headers='{"season_id":"{{season.id}}", "confirm":"true"}'
               hx-target="#admin-main-panel"
               class="basis-auto w-1/2 mx-auto my-6 text-white bg-red-700 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">ARE YOU SURE?</a>
          </div>
          {% else %}
          <div id="delete-confirm" class="flex items-center pt-2 pb-8 w-full">
            <a hx-get="/iesl-admin/season/delete/{{season.slug}}"
              hx-target="#delete-confirm"
              hx-swap="outerHTML"
              class="basis-auto w-1/2 mx-auto my-6 text-white bg-red-400 hover:border-red-700 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">DELETE SEASON</a>
          </div>
          {% endif %}
          {% endblock %}
      </form>
    </div>
  </div>  
  
</section>