{% extends "/admin/dashboard.html" %}

{% block admin_panel %}
<section id="admin-main-panel" class="flex flex-col w-full min-h-screen">
  <div class="flex flex-row w-full justify-between lg:5/6">
    <div class="flex flex-col px-6 sm:pr-3">
      <h3 id="admin-section-title" class="font-play font-bold text-5xl pt-4 text-sapphire_blue-900">Seasons</h3>
        <ul id="admin-section-options" class="flex flex-row gap-x-6 pt-4">
          <li class="text-spaceteal-200">New Season</li>
        </ul>
    </div>
    <div id="schedule-instruction" class="flex flex-row flex-wrap pt-4 w-2/5 gap-1">
      <div class="w-auto uppercase text-xs text-spaceteal-500">Instructions</div>
      <div class="flex basis-full items-center">
        <p class="text-xs text-spaceteal-600 w-auto">The <span class="font-bold">Season Name</span> describes time frame (i.e., Winter 2024). The <span class="font-bold">Description</span> is optional (only used in admin).</p>
      </div>
      <div class="flex basis-full items-center">
        <p class="text-xs text-spaceteal-600 w-auto">The <span class="font-bold">Start Date</span> used primarily for sorting, not scheduling.</p>
      </div>
    </div>
  </div>

  <div id="admin-page-content" class="flex flex-col items-center w-full px-2 pt-6 md:pt-14">
    <div id="admin-season-form" class="flex flex-col items-center w-full px-2">
      <form
        method="post"
        class="flex flex-auto flex-row flex-wrap justify-between w-full max-w-screen-md bg-slate-100 border rounded-md">
        <div class="basis-full md:basis-7/12 p-4">
          <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Season Name</label>
          <input
            hx-post="/iesl-admin/season/search"
            hx-trigger="input changed delay:500ms, search"
            hx-target="#create-cancel"
            hx-swap="outerHTML"
            type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required="" placeholder="">
        </div>
        <p class="text-xs px-4 text-sapphire_blue-700">Note: You can attach multiple leagues to a single season. However, you may want to create a new Season for leagues that don't share an identical scheduling time frame.</p>
        <div class="basis-full md:basis-full p-4">
          <label for="description" class="text-sm font-medium text-gray-900 block mb-2">Description (Optional)</label>
          <input type="text" name="description" id="description" maxlength="120" rows="3" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
        </div>
          <div class="basis-1/4 p-4 flex flex-col flex-nowrap">
            <div class="basis-full">
              <div
                x-data
                x-init="
                  flatpickr($refs.dateInput, {
                    defaultDate: 'today',
                    altInput: true,
                    altFormat: 'Y-m-d',
                    dateFormat: 'Z',
                    allowInput: true,
                  })
                "
              >
                <label for="start_date" class="text-sm font-medium text-gray-900 block mb-2">Start Date</label>
                <input name="start_date" id="start_date" x-ref="dateInput" type="text" placeholder="YYYY-MM-DD" required=""class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-48 p-2.5" />
              </div>
            </div>
          </div>

          
        {% block confirmation_buttons %}
        
        <div id="create-cancel"class="flex flex-col items-center py-4 pt-20 w-full">
          {% if not duplicate %}
          <button
          type="submit" class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create Season</button>
          {% else %}
          <p class="text-xs font-medium text-rose_iesl-400">*Please choose another name</p>
          <div class="w-1/2 text-gray-400 bg-rose_iesl-50  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Season already exists</div>
          {% endif %}
          <!-- button to cancel the form-->
        <a href="/iesl-admin"
        class="basis-auto w-1/2 mx-auto my-6 text-gray-500 bg-white hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</a>
        </div>
        
        {% endblock %}
      </form>
    </div>
  </div>  
  
</section>
{% endblock %}