{% extends "/shared/base.html" %}


{% block content %}

<section id="main-content" class="text-gray-600 body-font min-w-[425px]">
  <div class="container px-5 py-8 mx-auto">
    <!-- Announcement Section-->
    <div class="text-center mb-5">
      <h1 class="sm:text-3xl text-2xl font-play uppercase title-font text-gray-900 mb-4">About the League</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">
        Welcome to the Inland Empire Soccer League website. Our games are held at the Drayson Center in Loma Linda, CA.
        We run several leagues throughout the year for all levels of play. You can find more information on our Leagues page.
        Are you looking to join or register a team? Get in touch!
      </p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-sapphire_blue-500 inline-flex"></div>
      </div>
    </div>
    <!-- CARDS SECTION-->
    <div class="flex flex-wrap md:space-y-0 space-y-6">
      <div class="p-4 w-full md:w-6/12 lg:w-1/3 flex flex-col text-center items-center">
        {% include "iesl/upcoming_matches.html" %}
      </div>
      <div class="p-4 w-full md:w-6/12 lg:w-1/3 flex flex-col text-center items-center">
        {% include "iesl/standings.html" %}
      </div>
      <div class="p-4 w-full md:w-11/12 lg:w-1/3 flex flex-col text-center items-center">
        {% include "iesl/info.html" %}
      </div>
    </div>

  </div>
</section>


{% endblock %}
